h2{
    border-radius: 5px;
    background-color: wheat;
    text-align: center;
    padding: 15px 0;
}

#regform, #result{
    padding: 15px 20px;
    border-radius: 10px;
    margin: auto;
    width: 50%;
    background-color: sandybrown;
}

