body{
    height: 100%;
    margin: 0;
}
#wrap{    
    position: relative;
    width: 100%;
    min-height: 100%;
}

.header{
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}

.header ul{
    list-style: none;
    display: flex;
    flex-flow: wrap-reverse;
}
.header ul li{    
    margin-left: 16px;
    margin-left: 1rem;
}
.index_image{
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 350px;
    background-image: url("riverview.jpg");    
}

.profile_image{
    position: absolute;
    top: 250px;
    left: 50px;
    width: 150px;
    height: 150px;
    background-image: url("test.png");
}

.btn1{
    position: absolute;
    top: 300px;
    right: 50px;
}
.btn2{
    position: absolute;
    top: 300px;
    right: 130px;
}
.profile{
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
    position: absolute;
    width: 100%;
}
.profile .text{    
    position: relative;
    top: 350px;
    
    width: 400px;
    margin-top: 16px;
    margin-top: 1rem;
    margin-left: 240px;
    margin-left: 15rem;
}
.info{
    position: relative;
    top: 360px;
    width: 300px;
    
    left: 900px;
    
    border: solid 1px burlywood;
    position: absolute;
    right: 300px;
}

.wrap2{
    margin: 0 auto;
    padding: 0;
    margin: 0;
    width: 1200px;
    position: relative;
    margin: 0 auto;
    display: flex;        
}

.main{
    background-color: blue;
    position: absolute;
    width: 70%;
    margin-top: 110px;
    
}

.review_item{
    background-color: aqua;
    margin-bottom: 50px;
}
.rst_data{
    display: flex;
    border-bottom: 1px solid gray;
}
.rst_info{
    
}
.review_commnet{
    
}
.review_photo{
    display: flex;
}
.rst_content{
    height: 300px;
    border-bottom: 1px solid gray;
}
.rst_score-data{
    border-bottom: 1px solid gray;
}
.rst_catg{
    margin-left: 50px;
}
.sidemenu{
    position: absolute;    
    width: 30%;
    background-color: #f8f1e1;
    margin-top: 110px;
    margin-left: 70%;    
}
.map{
    height: 200px;
}

.review_footer{
    display: flex;
    justify-content: space-between;
}

.wrap2{
    margin-bottom: 150px;
}

.footer{
    position: fixed;
    bottom: 0px;    
    width: 100%;
    height: 50px;
    
    
    background-color: #f8f1e1;
}
.copyright{
    text-align : center;
}